extends layout

block content
    // Hero
    #index-banner.section.no-pad-bot
      .container
        h1.text_h.center.header.cd-headline.letters.type
          span= 'Search '
          span.cd-words-wrapper.waiting
            b.is-visible for farmers
            b= 'for best deals'
            b= 'in eharvesthub'
    // Intro and service
    #intro.section.scrollspy
      .container
        .row
          .col.s12
            h2.center.header.text_h2
              | Search for farmers and products all around the world.
          .col.s12.m4.l4
            .center.promo.promo-example
              i.mdi-image-flash-on
              h5.promo-caption Faster way to search
              p.light.center
                | Lorem ipsum dolor sit amet, orci sagittis orci, aptent curabitur placerat id nec, ornare id lectus, auctor eget ipsum, neque lobortis sit id.
          .col.s12.m4.l4
            .center.promo.promo-example
              i.mdi-social-group
              h5.promo-caption Find new partners
              p.light.center Lorem ipsum dolor sit amet, orci sagittis orci, aptent curabitur placerat id nec, ornare id lectus, auctor eget ipsum, neque lobortis sit id.
          .col.s12.m4.l4
            .center.promo.promo-example
              i.mdi-hardware-desktop-windows
              h5.promo-caption Publish your products
              p.light.center
                | Lorem ipsum dolor sit amet, orci sagittis orci, aptent curabitur placerat id nec, ornare id lectus, auctor eget ipsum, neque lobortis sit id.