doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		meta(name='theme-color', content='#1976d2')
		title Uni-Hack
		link(href='/min/plugin-min.css', type='text/css', rel='stylesheet')
		link(href='/min/custom-min.css', type='text/css', rel='stylesheet')
		link(href='/css/style.css', type='text/css', rel='stylesheet')
		link(href='/css/datepicker-themes/default.css' rel='stylesheet')
		link(href='/css/datepicker-themes/default.time.css' rel='stylesheet')
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
		script(src='/js/jquery-2.1.1.min.js')
		script(src='/js/legacy.js')
		script(src='/js/picker.js')
		script(src='/js/picker.date.js')
	body#top.scrollspy
		// Pre Loader
		#loader-wrapper
		#loader-wrapper
		.loader-section.section-left
		.loader-section.section-right
		// Navigation
		.navbar-fixed
			nav#nav_f.default_color(role='navigation')
				.container
					.nav-wrapper
						a#logo-container.brand-logo(href='#') Uni-Hack
						ul.right.hide-on-med-and-down
							li
								a(href='/customer') My Profile
							li
								a(href='/customer/products') Products
							li
								a(href='/logout') Log out
						ul#nav-mobile.side-nav
							li
								a(href='/customer') My Profile
							li
								a(href='/customer/products') Products							
							li
								a(href='/logout') Log Out
						a.button-collapse(href='#', data-activates='nav-mobile')
							i.mdi-navigation-menu
		.container
			// Content
			block content

		// Scripts
		script(src='/min/plugin-min.js')
		script(src='/min/custom-min.js')